<%= @direction.destination.location %>
<br>

<%= @direction.route.name %>
<br>
<%= @direction.duration %> Hours
<br>
<%= @direction.variation %>

<br>
  
<a href="/destinations">See all Destinations </a>
